<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
                integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <title>Document</title>
</head>
<body>  
        <main>
                <header>
                        {% include 'elements/navbar.twig' %}
                        <div class="row justify-content-evenly middleMan m-0">
                                <article class="col-lg-4 justify-content-center text-center">
                                        <h2 class="display-5 blueText">Lista weterynarzy</h2>
                                        <a href="/vet" class="btn btn-outline-info">Pokaż</a>
                                </article>
                                <article class="col-lg-4 text-center">
                                        <h2 class="display-5 blueText">Lista klientów</h2>
                                        <a href="/owner" class="btn btn-outline-info">Pokaż</a>
                                </article>
                        </div>
                </header>
                <section>
                        <h1 class="display-3 text-center mt-3">Witaj w weterynarzarii!</h1>
                </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>